body {
    background: url(../images/desk.jpg) no-repeat center center fixed;
    background-color: rgba(255, 255, 255, 0.65);
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.transition-in-left {
    animation: transitionInLeft 2s;
}

@keyframes transitionInLeft {
    from {
        opacity: 0;
        transform: translateX(-350px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.transition-in-bottom-1 {
    animation: transitionInBottom 1s;
}

@keyframes transitionInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.transition-in-bottom-2 {
    animation: transitionInBottom 2s;
}

@keyframes transitionInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.transition-in-bottom-3 {
    animation: transitionInBottom 3s;
}

@keyframes transitionInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.transition-in-bottom-4 {
    animation: transitionInBottom 4s;
}

@keyframes transitionInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.navbar-toggler i {
    font-size: 30px;
    color: #000;
}

.nav-item a {
    font-size: 25px;
    color: #000 !important;
}

.nav-item a:hover {
    color: #D64045 !important;
}

main {
    flex: 1 0 auto;
}

.index-main {
    padding-top: 75px;
}

.site-greeting h5 {
    margin-left: 5px;
}

.cta-button a {
    border-radius: 0;
    background-color: #D64045;
    color: #FFF;
    margin-left: 5px;
}

.cta-button a i {
    padding: 0 5px 0 5px;
}

.fa-html5 {
    color: #FF5733;
}

.fa-css3-alt {
    color: #264DE4;
}

.fa-js {
    color: #F0DB4F;
}

.fa-react {
    color: #7cc5d9;
}

.fa-bootstrap {
    color: #563D7C;
}

.fa-python {
    color: #4584B6;
}

.fa-database {
    color: #00758F;
}

.fa-aws {
    color: #FF9900;
}

.fa-stripe {
    color: #008CDD;
}

.fa-git-alt {
    color: #F34F29;
}

.fa-github {
    color: #171515;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    padding: 10px 10px 0 10px;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
     rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-img {
    height: 14.5rem;
    object-fit: cover;
    border-radius: 0;
    filter: brightness(90%);
}

.card-body {
    margin: -12.5px -10px 0 -10px;
}

.card-img:hover {
    filter: brightness(100%);
}

.card button {
    color: #000;
}

.accordion .collapse {
    height: 200px;
}

.info-list {
    padding-left: 15px;
    font-size: 14px;
    margin: 0;
}

.tech-icons i {
    font-size: 20px;
    padding: 2px 2px 2px 0;
}

.card button:hover {
    color: #000;
    text-decoration: none;
}

.animate-arrow {
    transition: 0.6s;
}

.rotate {
    transform:rotate(180deg);
}

footer {
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    font-size: 30px;
}

.social-media-links i {
    color: #000;
}

.social-media-links i:hover {
    color: #D64045;
}

.copyright-info {
    color: #000;
}

@media only screen and (max-width: 600px) {
    .index-main {
      padding-top: 50px;
    }
  }

@media only screen and (max-width: 600px) {
    .accordion .collapse {
      height: 180px;
    }
  }

  @media only screen and (max-width: 300px) {
    .accordion .collapse {
      height: 200px;
    }
  }